@media(max-width: 767px){
    .center{
        padding-left: 16px;
        padding-right: 16px;
    }
.top-text{
        margin-top: 238.7px;
        font-family: 'Montserrat';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 39px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
    }
.top-title{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 300;
font-size: 14px;
line-height: 22px;
display: flex;
align-items: center;
text-align: center;
color: #FFFFFF;
} 
.games__item{
    width: 343px;
}
.game__text{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 39px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;    
}
.game__title{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 300;
    font-size: 14px;
    line-height: 22px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #FFFFFF;    
}
.console{
    width: 344px;
height: 236px;
margin-top: 64px;
margin-bottom: 85px;
}
}
